@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,700&family=MedievalSharp&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #47837d
#021b34 */

* {
    margin: 0;
    color: white;
    font-family: 'Exo 2', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
#root {
    width: 100vw;
    height: 100vh;
    background: rgb(2, 27, 52);
    background: linear-gradient(
        135deg,
        rgba(2, 27, 52, 1) 0%,
        rgba(101, 161, 155, 1) 100%
    );
}

.stylized {
    font-family: 'MedievalSharp';
}
.nav-link {
    transition: 0.2s;
}

.nav-link:hover {
    color: #47837d;
    opacity: 0.7;
}

.active {
    color: #47837d !important;
}

.display-border {
    border-right: 1px solid grey;
}
