@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Quicksand:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    color: white;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
#root {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 78, 62);
    background: linear-gradient(
        315deg,
        rgba(0, 78, 62, 0.8729866946778712) 0%,
        rgba(67, 207, 204, 1) 100%
    );
}

.stylized {
    font-family: 'MedievalSharp';
}
